.welcome, #catDisplay {
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  margin-top: 2%;
  text-align: center;
}

.welcome, h2, counter {
  font-weight: bold;
}

.welcome {
  text-shadow: 2px 2px #002222;
}

.img-fluid {
  border: 5px outset #17a2b8;
  border-radius: 10%;
}

ul {
  list-style-type: none;
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  margin-left: 5%;
}

li {
  padding-bottom: 10%;
}

.main {
  margin-top: 5%;
}
